/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
.skillContainer {
  width: 100%; /* Full width */
  background-color: #ddd; /* Grey background */
  border-radius: 5px;
}

.skills {
  text-align: right; /* Right-align text */
  padding: 10px; /* Add some padding */
  color: white; /* White text color */
  border-radius: 5px;
}

.python {width: 90%; background-color: #f44336;}
.aws {width: 70%; background-color: #f44336;}
.alteryx {width: 75%; background-color: #f44336;}
.sql {width: 75%; background-color: #f44336;}
.powerbi {width: 75%; background-color: #f44336;}