.link {
  display: block;
  color: rgb(163, 163, 163);
  font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  line-height: calc(24px + 6 * ((100vw - 320px) / 680));
}

.link:hover {
  box-shadow: none;
  color: rgb(97, 97, 97);
}
